<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1/0">
        <title>Blog</title>
        
    </head>
    <body>
        <header>
            <h1>Blog project</h1>
        </header>
        <hr>
        <main>
            <a href="{% url 'new' %}">새 글 쓰기</a>
                <hr>
                <h2>글 목록</h2>
                <hr>
                    {% for blog in blogs %}
                    <h2>{{ blog.title }}</h2>
                    <a href="{% url 'detail' blog.id %}">게시글 보기</a>
                    {% endfor %}
        </main>
    </body>
</html>