<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <label for="title">제목</label>
        <input type="text" id="title" name="title">
        <br>
        <label for="writer">작성자</label>
        <input type="text" id="writer" name="writer">
        <br>
        <label for="body">내용</label>
        <textarea name="body" id="body" cols="30" rows="10"></textarea>
        <button type="submit">제출</button>
    </form>
</body>
</html>